* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    overflow: hidden;
}

    .navegacao {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.navegacao.active {

    left: 0;

}

    
    .banner {

        position: relative;
        width: 50%;
        height: 100%;
    }

    .cover {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .navlink {

        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navlink ul {

    position: relative; 
    width: 100%;
    }

    .navlink ul li {

        position: relative;
        list-style: none;
    }

    .navlink ul li a {

        position: relative;
        color: white;
        font-size: 2em;
        font-weight: 500;
        text-decoration: none;
        margin: 5px 0;
        margin-left: 100px;
        display: inline-block;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .navlink ul li a:hover {

        color: #2196f3;
    }

    .sec {

        position: relative;
        left: 0;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s;

    }

    .sec.active {

        left: 100%;
    }

    header {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
    }

    .toggle {

        position: relative;
        left: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
       
    }

    .toggle.active {

        left: -200px;



    }

    .toggle::before {

        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #777;
        transform: translateY(-6px);
        transition: 0.5s;


    }

    .toggle::after {

        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #777;
        transform: translateY(6px);
        transition: 0.5s;

   }

   .toggle.active::before {

    transform: translateY(0px) rotate(45deg);
    background: #fff;
   }

   .toggle.active::after {

    transform: translateY(0px) rotate(-45deg);
    background: #fff;
   }

   .btn {

    position: relative;
    display: inline-block;
    padding: 10px 20px ;
    text-decoration: none;
    background: #ff1455;
    color:#fff;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;

   }

  .sec .imgBx {
   
    position: relative;
    min-width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;

   }

  .sec .content {

    max-width: 700px;
    margin-left: 40px;
   }
   
   .sec .content h2 {

     font-weight: 500;
     letter-spacing: 1px;
     color: #777;
     line-height: 2.5em;
   }

   .sec .content h2 span {

    font-weight: 700;
    letter-spacing: 1px;
    color: #2196f3;
    font-size: 3em;
  }

  .sec .content p {

     color: #777;
     font-size: 1.2em;
     margin-bottom: 20px;
     
  }

  .sec .content .btn {
background: #2196f3;
  }

